:root {
  --port-gore: #181846;
  --port-gore-700: #131338;
  --orange-500: #ff5722;
  --orange-700: #e6320e;
  --lynch: #5f6b8a;
  --ebony: #0c0d25;
  --white-lilac: #f9f9fd;
  --ghost: #c4c5d7;
  --whisper: #ecedf5;
}

.bg-port-gore {
  background-color: var(--port-gore) !important;
}

.bg-port-gore-700 {
  background-color: var(--port-gore-700) !important;
}

.bg-orange-500 {
  background-color: var(--orange-500) !important;
}

.bg-whisper {
  background-color: var(--whisper) !important;
}

.bg-white-lilac {
  background-color: var(--white-lilac) !important;
}

.hover\:bg-port-gore-700:hover {
  background-color: var(--port-gore-700) !important;
}

.hover\:bg-orange-700:hover {
  background-color: var(--orange-700) !important;
}

.text-orange-500 {
  color: var(--orange-500);
}

.text-white-lilac {
  color: var(--white-lilac) !important;
}

.text-ghost {
  color: var(--ghost) !important;
}

.text-ebony {
  color: var(--ebony) !important;
}

.text-lynch {
  color: var(--lynch);
}

.hover\:text-white-lilac:hover {
  color: var(--white-lilac) !important;
}

.border-orange-500 {
  border-color: var(--orange-500) !important;
}

.border-ghost {
  border-color: var(--ghost) !important;
}

.border-whisper {
  border-color: var(--whisper) !important;
}

.border-round-bottom {
  border-bottom-left-radius: 22px !important;
  border-bottom-right-radius: 22px !important;
}

.border-05px {
  border: 0.5px solid;
}

.border-bottom-5px {
  border-bottom: 5px solid;
}

.pt-44px {
  padding-top: 44px;
}

.pt-80px {
  padding-top: 80px;
}

.pt-82px {
  padding-top: 82px;
}

.pb-60px {
  padding-bottom: 60px;
}

.pr-20px {
  padding-right: 20px;
}

.px-35px {
  padding-inline: 35px;
}

.px-44px {
  padding-inline: 44px;
}

.px-45px {
  padding-inline: 45px;
}

.px-135px {
  padding-inline: 135px;
}

.mt-30px {
  margin-top: 30px;
}

.mt-50px {
  margin-top: 50px;
}

.gap-10px {
  gap: 10px;
}

.gap-15px {
  gap: 15px;
}

.gap-30px {
  gap: 30px;
}

.gap-34px {
  gap: 34px;
}

.gap-49px {
  gap: 49px;
}

.h-36px {
  height: 36px !important;
}

.p-icon {
  color: var(--lynch);
}

.text-18px {
  font-size: 18px;
}

.icon-24px {
  font-size: 24px;
}

.icon-25px {
  font-size: 25px;
}

.icon-95px {
  font-size: 95px;
}

.p-paginator {
  background: transparent;
  color: var(--ghost);
  padding: 0.5rem;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: var(--ghost);
  min-width: 2.286em;
  height: 2.286em;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 3px;
}

.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background: transparent;
  border-color: transparent;
  color: var(--ghost);
}

.p-paginator .p-paginator-first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.p-paginator .p-paginator-last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: white;
  min-width: 33px;
  height: 33px;
  margin: 0.143rem;
  padding: 0 0.5rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  min-width: 33px;
  height: 33px;
  margin: 2px;
  border-radius: 3px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--lynch);
  color: white;
}

button {
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 700;
  padding: 0.5rem 0;
}

input {
  border: none;
  border-radius: 3px;
  background-color: white;
  color: var(--ebony);
  font-size: 18px;
  height: 42px;
  padding-inline: 20px;

  &::placeholder {
    font-size: 18px;
    color: var(--lynch);
  }
}

table {
  width: 100% !important;
  margin-top: 36px;
  border-collapse: separate;
  border-spacing: 0;
  border: 0.5px solid var(--whisper) !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

th {
  padding: 32px 30px;
  background-color: var(--white-lilac);
  text-align: left;
  color: var(--ebony);
  font-weight: 700;
  font-size: 18px;
}

td {
  padding: 24px 32px;
  text-align: left;
  border: 0.5px solid var(--whisper);
  color: var(--lynch);
  font-weight: 600;
  font-size: 18px;
}

div i {
  font-size: 24px;
  cursor: pointer;

  &:first-child {
    color: var(--orange-500) !important;
  }
}

@media screen and (min-width: 576px) {
  input {
    width: 330px;
    height: 42px;
  }
}
